<h1>Home Page</h1>
<ul>
    <li *ngFor = "let archive of archives">
        <a [routerLink]="['/archive', archive.year, archive.month]">
            {{archive.year}} / {{archive.month}}
        </a>
    </li>
</ul>